<!DOCTYPE html>
<html>
<head>
	
	<title>New Resume Project</title>
	<link rel="stylesheet" type="text/css" href="/css/new_resume.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>

	<header id="header">

		<!-- <div id="hamburger">
			<div id="icon">
				<i class="fas fa-bars"></i>
			</div>
			<div id="list">
				<ul>
					<li><a href="#about"> about </a></li>
					<li><a href="#skills"> skills </a></li>
					<li><a href="#experience"> experience </a></li>
					<li><a href="education"> education </a></li>
					<li><a href="#portfolio"> portfolio </a></li>
					<li><a href="#contact"> contact </a></li>
				</ul>
			</div>
		</div>
 -->
		<nav id="navigation">
			<ul class="header-lists text-center">
				<li><a href="#about"> about </a></li>
				<li><a href="#skills"> skills </a></li>
				<li><a href="#experience"> experience </a></li>
				<li><a href="education"> education </a></li>
				<li><a href="#portfolio"> portfolio </a></li>
				<li><a href="#contact"> contact </a></li>
			</ul>
		</nav>

		<div id="name" class="text-center">
			<p>Lovekesh</p>
		</div>

		<social id="social" class="header-lists text-center">
			<ul>
				<li><a href="https://www.linkedin.com/in/lovekesh9896/" target="_blank"><img src="/images/linke.png" id="linke"></a></li>
				<li><a href="https://www.instagram.com/lovekesh9896/" target="_blank"><img src="/images/insta.png" id="insta"></a></li>
				<li><a href="https://www.facebook.com/lovekesh9896" target="_blank"><img src="/images/facebook.png" id="facebook"></a></li>
				<li><a href="https://twitter.com/LovekeshDhanda" target="_blank"><img src="/images/twitter.png" id="twitter"></a></li>
				<li><a href="https://wa.me/919588169756" target="_blank"><img src="/images/whatsapp.png" id="whatsapp"></a></li>

			</ul>
		</social>
	</header>

	<main id="main-content">
		<section id="about">
			<div id="my-image">
				<img src="/images/q.jpg">
			</div>
			<p>Experience in<span style="color: blue;"> Coding </span>, 
				<span style="color: blue;">Software design</span>, and
				<span style="color: blue;">Debugging</span>. Eager to
				learn new technologies
				and applying them in
				real-life projects.
				Extremely good with
				data structures and
				algorithms. Excellent in
				making day to day web
				apps with the help of
				new technologies, API's,
				and Object-Oriented
				programming.</p>
		</section>
		<section id="skills">
			<h1 class="heading-section">
				<div class="heading-icon">
					<span><i class="fas fa-chalkboard-teacher"></i></span>
				</div>
				<div class="section-headings">
					<span>SKILLS</span>
				</div>
			</h1>


			<div class="skills-display">


				<div class="skill-progress">
					<div class="percent75 C-orange">
						<div class="skill-name">
							<span> React </span>
						</div>
					</div>
				</div>
				<div class="skill-progress">
					<div class="percent80 C-blue">
						<div class="skill-name">
							<span> Javascript </span>
						</div>
					</div>
				</div>
				<div class="skill-progress">
					<div class="percent60 C-orange">
						<div class="skill-name">
							<span> CSS </span>
						</div>
					</div>
				</div>	
				<div class="skill-progress">
					<div class="percent75 C-blue">
						<div class="skill-name">
							<span> HTML </span>
						</div>
					</div>
				</div>
				<div class="skill-progress">
					<div class="percent80 C-teal">
						<div class="skill-name">
							<span> Node js </span>
						</div>
					</div>
				</div>
				<div class="skill-progress">
					<div class="percent60 C-purple">
						<div class="skill-name">
							<span> Java </span>
						</div>
					</div>
				</div>		
				
			</div>
		</section>

		<section id="experience">
			<h1 class="heading-section">
				<div class="heading-icon">
					<span><i class="fas fa-th-list"></i></span>
				</div>
				<div class="section-headings">
					<span>EXPERIENCE & EDUCATION</span>
				</div>
			</h1>

			<div class ="work-conatiner">

				

				<div class="work-elem">
					<div class="upper">

						<div class="left-icon">
							<img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000030_1550710829_ninjasicon.png">
						</div>

						<div class="names">
							<h3 > Teaching Assistant</h3>
							<h4> Coding Ninjas</h4>
							<h5> March 2020 - July 2020</h5>
						</div>

					</div>

					<div class="lower">
						<p>During this time my main responsibilities include taking doubt sessions regularly on data structures and algorithms in java, debugging codes, and helping students in their assignments & various projects. Other responsibilities are coming up with multiple approaches of questions for students so that they understand each question properly.</p>
					</div>
				</div>
				<div class="work-elem">
					<div class="upper">

						<div class="left-icon">
							<img src="/images/icon.png">
						</div>

						<div class="names">
							<h3 > Dry Runner</h3>
							<h4> Project</h4>
							<h5> Currently working </h5>
						</div>

					</div>

					<div class="lower">
						<p>This project contains heavy use of both Javascript and Java. My two main languages. The project can create a GUI of any Java code. For example, creating a recursion tree from plain java code so that the user can visualize it easily and able to correct or understand his/her code.</p>
					</div>
				</div>
				<div class="work-elem">
					<div class="upper">

						<div class="left-icon">
							<img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000030_1550710829_ninjasicon.png">
						</div>

						<div class="names">
							<h3 > Designation</h3>
							<h4> Company Name</h4>
							<h5> Month YYYY - Month YYYY</h5>
						</div>

					</div>

					<div class="lower">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</p>
					</div>
				</div>
				<div class="work-elem">
					<div class="upper">

						<div class="left-icon">
							<img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000030_1550710829_ninjasicon.png">
						</div>

						<div class="names">
							<h3 > Designation</h3>
							<h4> Company Name</h4>
							<h5> Month YYYY - Month YYYY</h5>
						</div>

					</div>

					<div class="lower">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</p>
					</div>
				</div>

				<div id="timeline">
					<div class="icon">
						<img src="/images/airplane.png">
					</div>
				</div>
				
			</div>
			
		</section>

		<section id="education">
			<h1 class="heading-section">
				<div class="heading-icon">
					<span><i class="fas fa-th-list"></i></span>
				</div>
				<div class="section-headings">
					<span>EDUCATION</span>
				</div>

			</h1>

			<div class ="work-conatiner">

				<div class="work-elem">
					<div class="upper">

						<div class="left-icon">
							<img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000032_1550746413_iiitd_logo.png">
						</div>

						<div class="names">
							<h3 > B. Tech</h3>
							<h4> MAIT, Delhi</h4>
							<h5> Aug 2020 - Jun 2022</h5>
						</div>

					</div>

					<div class="lower">
						<p></p>
					</div>
				</div>
				<div class="work-elem">
					<div class="upper">

						<div class="left-icon">
							<img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000032_1550746413_iiitd_logo.png">
						</div>

						<div class="names">
							<h3 > Degree</h3>
							<h4> Institute Name</h4>
							<h5> Month YYYY - Month YYYY</h5>
						</div>

					</div>

					<div class="lower">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</p>
					</div>
				</div>
				<div class="work-elem">
					<div class="upper">

						<div class="left-icon">
							<img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000032_1550746413_iiitd_logo.png">
						</div>

						<div class="names">
							<h3 > Degree</h3>
							<h4> Institute Name</h4>
							<h5> Month YYYY - Month YYYY</h5>
						</div>

					</div>

					<div class="lower">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

					</div>
				</div>


				

				<div id="timeline">
					<div class="icon">
						<img src="/images/car.png" style="transform: rotate(270deg);">
					</div>
				</div>
				
			</div>



		</section>

		<section id="portfolio">
			
			<h1 class="heading-section">
				<div class="heading-icon">
					<span><i class="fas fa-th-list"></i></span>
				</div>
				<div class="section-headings">
					<span>PORTFOLIO</span>
				</div>
			</h1>

			<div class="portfolio-container">

				<div class="portfolio-image-container">
					<img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000025_1550237330_codezen_2.png">
					<div class="portfolio-details">
						<p>
							Write here basic details about the project.
						</p>
					</div>

				</div>
				<div class="portfolio-image-container">
					<img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000025_1550237330_codezen_2.png">
					<div class="portfolio-details">
						<p>
							Write here basic details about the project.
						</p>
					</div>

				</div>
				<div class="portfolio-image-container">
					<img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000025_1550237330_codezen_2.png">
					<div class="portfolio-details">
						<p>
							Write here basic details about the project.
						</p>
					</div>
				</div>

				<div class="portfolio-image-container">
					<img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000024_1550237299_codezen.png">
					<div class="portfolio-details">
						<p>
							Write here basic details about the project.
						</p>
					</div>

				</div>
				<div class="portfolio-image-container">
					<img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000024_1550237299_codezen.png">
					<div class="portfolio-details">
						<p>
							Write here basic details about the project.
						</p>
					</div>

				</div>
				<div class="portfolio-image-container">
					<img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000024_1550237299_codezen.png">
					<div class="portfolio-details">
						<p>
							Write here basic details about the project.
						</p>
					</div>

				</div>

			</div>

		</section>
		
		<section id="contact">
			<h1 class="heading-section">
				<div class="heading-icon">
					<span><i class="fas fa-th-list"></i></span>
				</div>
				<div class="section-headings">
					<span>CONTACT</span>
				</div>
			</h1>
			<div id="form-and-contact">
				<div id="form-section">
					<form>
						<input type="text" name="NAME"  placeholder="Your Name"><br>
						<input type="text" name="email"  placeholder="Your E-Mail"><br>
						<input type="text" name="massage" id="massage" placeholder="Massage" ><br>
						<button type="submit" class="submit-button">SEND MASSAGE</button>
					</form>

				</div>

				<div id="address">
					<span class="h6">Get In Touch</span><br>
					<div class="px100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standarddummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
					<span class="h6">My Address</span><br>
					<span class="size10px"><i class="fas fa-map-marker-alt"></i> Delhi, India</span><br>
					<span class="size10px"><i class="fas fa-map-marker-alt"></i> 999999999</span><br>
					<span class="size10px"><i class="fas fa-map-marker-alt"></i>
					myemail@gmail.com</span><br>
				</div>
			</div>
			<social id="social" class="header-lists text-center">
				<ul>
					<li><a href="https://www.Linkeden.com" target="_blank"><img src="/images/linke.png" id="linke"></a></li>
					<li><a href="https://www.instagram.com" target="_blank"><img src="/images/insta.png" id="insta"></a></li>
					<li><a href="https://www.facebook.com" target="_blank"><img src="/images/facebook.png" id="facebook"></a></li>
					<li><a href="https://www.twitter.com" target="_blank"><img src="/images/twitter.png" id="twitter"></a></li>
					<li><a href="https://www.whatsapp.com" target="_blank"><img src="/images/whatsapp.png" id="whatsapp"></a></li>

				</ul>
			</social>
		</section>
		
	</main>

	<script type="text/javascript" src="/js/new_resume.js"></script>

</body>
</html>