<!DOCTYPE html>
<html lang="en">
<head>
	
	<title>Lovekesh Resume</title>
	<link rel="stylesheet" type="text/css" href="/css/new_resume.css">
	<link rel="icon" href="/images/abc.png" type="image/png" sizes="16x16">
	<meta name="description" content="lovekesh dhanda, kumarmehlan, dhandalovekesh resume and projects with contact">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div style="text-align:center;">
		<p>This website is still in development mode!</p>
	</div>
	<header id="header">
		
		<nav id="navigation">
			<ul class="header-lists text-center">
				<li><a aria-label="about-link" href="#about">about</a></li>
				<li><a aria-label="skills-link" href="#skills">skills</a></li>
				<li><a aria-label="education-link" href="#education">education</a></li>
				<li><a aria-label="courses-link" href="#courses">courses</a></li>
				<li><a aria-label="projects-link" href="#projects">projects</a></li>
				<li><a aria-label="contact-link" href="#contact">contact</a></li>
			</ul>
		</nav>

		<div id="name" class="text-center">
			<p>Lovekesh</p>
		</div>

		<social id="social" class="header-lists text-center">
			<ul>
				<li><a aria-label="linkedin" href="https://www.linkedin.com/in/lovekesh9896/" rel="noreferrer" target="_blank"><img alt="linkedin-icon" src="/images/linke.webp" id="linke"></a></li>
				<li><a aria-label="instagram" href="https://www.instagram.com/lovekesh9896/" rel="noreferrer" target="_blank"><img alt="instagram-icon" src="/images/insta.webp" id="insta"></a></li>
				<li><a aria-label="facebook" href="https://www.facebook.com/lovekesh9896" rel="noreferrer" target="_blank"><img alt="facebook-icon" src="/images/facebook.webp" id="facebook"></a></li>
				<li><a aria-label="twitter" href="https://twitter.com/LovekeshDhanda" rel="noreferrer" target="_blank"><img alt="twitter-icon" src="/images/twitter.webp" id="twitter"></a></li>
				<li><a aria-label="whatsapp" href="https://wa.me/919588169756" rel="noreferrer" target="_blank"><img alt="facebook-icon" src="/images/whatsapp.webp" id="whatsapp"></a></li>
			</ul>
		</social>
	</header>

	<main id="main-content">
		<section id="about">
			<div id="my-image">
				<img alt="my-image" src="/images/q.webp">
			</div>
			<p>Experience in<span style="color: blue;"> Coding </span>, 
				<span style="color: blue;">Software design</span>, and
				<span style="color: blue;">Debugging</span>. Eager to
				learn new technologies
				and applying them in
				real-life projects.
				Extremely good with
				data structures and
				algorithms. Excellent in
				making day to day web
				apps with the help of
				new technologies, API's,
				and Object-Oriented
				programming.</p>
		</section>
		<section id="skills">
			<h1 class="heading-section">
				<img src="/images/skills.png" alt="skills-icon">
				<span>SKILLS</span>
			</h1>


			<div class="skills-display">


				<div class="skill-progress">
					<div class="percent80 C-orange">
						<span> React </span>
					</div>
				</div>
				<div class="skill-progress">
					<div class="percent80 C-blue">
						<span> Javascript </span>
					</div>
				</div>
				<div class="skill-progress">
					<div class="percent90 C-yellowGreen">
						<span> CSS </span>
					</div>
				</div>	
				<div class="skill-progress">
					<div class="percent90 C-cadetBlue">
						<span> HTML </span>
					</div>
				</div>
				<div class="skill-progress">
					<div class="percent75 C-teal">
						<span> Node js </span>
					</div>
				</div>
				<div class="skill-progress">
					<div class="percent70 C-purple">
						<span> Java </span>
					</div>
				</div>		
			</div>
		</section>

		<section id="education">
			<h1 class="heading-section">
				<img src="/images/education.png" alt="education-icon">
				<span>EDUCATION</span>
			</h1>

			<div class ="work-conatiner">

				

				<div class="work-elem">
					<div class="upper">

						<div class="left-icon">
							<img alt="institution-image" src="/images/coding-ninjas.webp">
						</div>

						<div class="names">
							<span class="names-span-1">Teaching Assistant</span> 
							<span class="names-span-2">Coding Ninjas</span> 
							<span class="names-span-3"> Mar 2020 - Jul 2020</span> 
						</div>

					</div>

					<div class="lower">
						<p>During this time my main responsibilities include taking doubt
						sessions regularly on data structures and algorithms in java,
						debugging codes, and helping students in their assignments & 
						various projects. Other responsibilities are coming up with multiple 
						approaches of questions for students so that they understand each 
						question properly.</p>
					</div>
				</div>
				<div class="work-elem">
					<div class="upper">

						<div class="left-icon" style="width: 25%;">
							<img alt="institution-image" src="/images/mait.webp">
						</div>

						<div class="names">
							<span class="names-span-1"> Student</span>
							<span class="names-span-2"> MAIT, Delhi</span>
							<span class="names-span-3"> Aug 2018 - Jun 2020 </span>
						</div>

					</div>

					<div class="lower">
						<p>Maharaja Agersen Institute of technology is a collage under IP 
						university, situated in the outskirts of Delhi. Although my interest 
						is in software science my main area of study is in Electronics and 
						Communication. I want to pursue ECE when I took admission but my 
						interest grew in Coding and I decided to change my career path.</p>
					</div>
				</div>
				<div class="work-elem">
					<div class="upper">

						<div class="left-icon" style="width: 20%;">
							<img alt="institution-image" src="/images/school.webp">
						</div>

						<div class="names">
							<span class="names-span-1"> Student</span>
							<span class="names-span-2"> Jai Hind Public School</span>
							<span class="names-span-3"> Jul 2015 - Jun 2017</span>
						</div>

					</div>

					<div class="lower">
						<p>I completed my Sr. Secondary education from here. It's in 
						the outer skirts of Delhi so there is a lot of areas for various 
						activities like sports and cultural activities. </p>
					</div>
				</div>
				<div class="work-elem">
					<div class="upper">

						<div class="left-icon">
							<img alt="institution-image" src="/images/coding-ninjas.webp">
						</div>

						<div class="names">
							<span class="names-span-1"> Designation</span>
							<span class="names-span-2">Company Name</span>
							<span class="names-span-3"> Month YYYY - Month YYYY</span>
						</div>

					</div>

					<div class="lower">
						<p>I am looking for internships so this block is kept empty for hope</p>
					</div>
				</div>

				<div id="timeline">
					<div class="icon">
						<img alt="" src="/images/airplane.webp">
					</div>
				</div>
				
			</div>
			
		</section>
		<!-- <p>This project contains heavy use of both Javascript and Java. My two main languages. The project can create a GUI of any Java code. For example, creating a recursion tree from plain java code so that the user can visualize it easily and able to correct or understand his/her code.</p> -->

		<section id="courses">
			<h1 class="heading-section">
				<img src="/images/courses.png" alt="course-icon">
				<span>COURSES</span>
			</h1>

			<div class ="work-conatiner">

				<div class="work-elem">
					<div class="upper">

						<div class="left-icon">
							<img alt="institution-image" src="/images/coding-ninjas.webp">
						</div>

						<div class="names">
							<span class="names-span-1"> DS & ALGO in JAVA</span>
							<span class="names-span-2"> Coding Ninjas</span>
							<span class="names-span-3"> Oct 2019 - Feb 2020</span>
						</div>

					</div>

					<div class="lower">
						<p>I took the demo of this course but I never knew that 
						this will kick off my coding career. After that, I took several 
						courses on their website and keep going. Now I hold Top Performer 
						certificates in all the courses I studied including this one. 
						The course included all the basic data structures like tree, graph, 
						stack, queue, and many more.</p>
					</div>
				</div>
				<div class="work-elem">
					<div class="upper">

						<div class="left-icon">
							<img alt="institution-image" src="/images/coding-ninjas.webp">
						</div>

						<div class="names">
							<span class="names-span-1"> Web development</span>
							<span class="names-span-2"> Coding Ninjas</span>
							<span class="names-span-3">Mar 2020 - July 2020</span>
						</div>

					</div>

					<div class="lower">
						<p>I learned full-stack web development from Coding Ninjas 
							too. The course included HTML, CSS, and Javascript from 
							beginner to advanced in front end part and Node js in the 
							back-end part. I also worked on some projects like a Web music 
							player, a To-do list, and a social media website.
							During this course, I also learned other technologies like Git and API.</p>
					</div>
				</div>
				<div class="work-elem">
					<div class="upper">

						<div class="left-icon">
							<img alt="institution-image" src="/images/udemy.webp" style="border-radius: 15px;">
						</div>

						<div class="names">
							<span class="names-span-1"> React</span>
							<span class="names-span-2"> Udemy</span>
							<span class="names-span-3">Jul 2020 - currently Going</span>
						</div>

					</div>

					<div class="lower">
						<p>This course includes React from basics to advanced. It covers 
						all the important topics like hooks, react router, and redux. 
						I have completed around 40% of the course material. There are 2 
						projects which I will plan on working one is a burger builder and
						the other is windows concept. Windows concept uses a lot of API along 
						with react to show users different types of data.</p>

					</div>
				</div>

				<div id="timeline">
					<div class="icon">
						<img alt="" src="/images/car.webp" style="transform: rotate(270deg);">
					</div>
				</div>
				
			</div>
		</section>

		<section id="projects">
			
			<h1 class="heading-section">
				<img src="/images/projects.png" alt="projects-icon">
				<span>PROJECTS</span>
			</h1>

			<div class="portfolio-container">
				<div class="portfolio-image-container">
					<img alt="project-image" src="/images/project2.webp">
					<div class="portfolio-details">
						<p>
							Write here basic details about the project.
						</p>
					</div>

				</div>
				<div class="portfolio-image-container">
					<img alt="project-image" src="/images/project2.webp">
					<div class="portfolio-details">
						<p>
							Write here basic details about the project.
						</p>
					</div>

				</div>
				<div class="portfolio-image-container">
					<img alt="project-image" src="/images/project2.webp">
					<div class="portfolio-details">
						<p>
							Write here basic details about the project.
						</p>
					</div>
				</div>


			</div>

		</section>
		
		<section id="contact">
            <h1 class="heading-section mb50px">
                <img src="/images/contact.png" alt="contact-icon">
                <span> Contact </span>
            </h1>
            <div id="contact-container">

                <div id="contact-form-container">
					<form id="contact-form" method="POST" action="/send-message">
						<label>
							Name
							<input id="input-name" name="name" type="text" placeholder="Enter Name">
						</label>
						<label>
							Email
							<input id="input-email" name="email" type="text" required placeholder="Enter Email">
						</label>
						<label>
							Message
							<textarea id="input-message" name="message" rows="2" cols=40 placeholder="Enter Message"></textarea>
						</label>
                        <button class="sub-btn" type="submit">SEND MESSAGE</button>
                    </form>
                </div>
                <div id="my-details-container">

                    <span>Get in touch</span>
					<p>I am a technology enthusiast who likes to code. This website contains some information about my projects and upcoming ideas. Apart from coding my other interest include hacking, driving, and playing football.
						I am always looking to collaborate with other people. So if you have any interest in working with me drop a message me or connect with me on different platforms.</p>
                    <span> My Address </span>
                    <ul style="padding-left: 15px;">
						<li class="my-details-info-container">Delhi, India</li>
						<li class="my-details-info-container">9588169756</li>
						<li class="my-details-info-container">dhandalovekesh@gmail.com</li>
					</ul>
                </div>
            </div>

			<social id="social" class="header-lists text-center">
				<ul >
					<li><a aria-label="linkedin" href="https://www.linkedin.com/in/lovekesh9896/" rel="noreferrer" target="_blank"><img alt="linkedin-icon" src="/images/linke.webp" id="linke"></a></li>
					<li><a aria-label="instagram" href="https://www.instagram.com/lovekesh9896/" rel="noreferrer" target="_blank"><img alt="instagram-icon" src="/images/insta.webp" id="insta"></a></li>
					<li><a aria-label="facebook" href="https://www.facebook.com/lovekesh9896" rel="noreferrer" target="_blank"><img alt="facebook-icon" src="/images/facebook.webp" id="facebook"></a></li>
					<li><a aria-label="twitter" href="https://twitter.com/LovekeshDhanda" rel="noreferrer" target="_blank"><img alt="twitter-icon" src="/images/twitter.webp" id="twitter"></a></li>
					<li><a aria-label="whatsapp" href="https://wa.me/919588169756" rel="noreferrer" target="_blank"><img alt="whatsapp-icon" src="/images/whatsapp.webp" id="whatsapp"></a></li>
				</ul>
			</social>	
		</section>
	</main>
	<script>
		window.onload = function(){
			document.getElementById('header').style.backgroundImage = "url('../images/background-image.webp')";
		}
	</script>
</body>
</html>